<div class="row justify-content-center">
  <div class="col-md-3"></div>
  <div class="form-floating mb-3 center col-md-6">
    <input
      type="email"
      class="form-control"
      id="floatingInput"
      placeholder="name@example.com"
      (keyup)="search()"
      [(ngModel)]="searchText"
    />
    <label for="floatingInput" class="mr-5">Search</label>
  </div>
  <div class="col-md-2">
    <app-cart-icon> </app-cart-icon>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="container mb-5 mt-5">
  <h1 class="text-center mt-4 mb-4">Products</h1>
  <div class="row justify-content-center">
    <div class="col-md-8" *ngFor="let product of filterProducts">
      <div class="card mt-3">
        <div class="product-1 align-items-center p-2 text-center">
          <div class="image-container">
            <img
              class="xyz rounded"
              src="{{ product.imageFront }}"
              width="200"
            />
            <img
              class="xyz-replacement rounded"
              src="{{ product.imageBack }}"
              width="200"
            />
          </div>
          <h5>{{ product.title }}</h5>
          <div class="mt-3 info">
            <span class="text1 d-block">{{ product.description }}</span>
            <span class="text1">cleansing water. 125 ml </span>
          </div>
          <div class="cost mt-3 text-dark">
            <span>{{ product.price | currency }}</span>
          </div>
        </div>
        <div class="p-3 bg-danger text-center text-white mt-3 cursor cart">
          <button
            class="
              text-uppercase
              cart-text
              p-3
              bg-danger
              text-center text-white
              mt-3
              cursor
              cart
            "
            (click)="add(product)"
          >
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
